body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-text {
    display: flex;
    justify-content: center;
}

.rps-wrapper {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 0;
    gap: 1em;
}

.icon-wrapper-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.computer-icon-wrapper,
.player-icon-wrapper {
    gap: 1em;
    margin: 1em;
}

.computer-icon,
.player-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    height: 140px;
    width: 140px;
}

.rock,
.paper,
.scissors {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#dbdbdb;
    border-radius: 10%;
    min-width: 100px;
    min-height: 30px;
    font-size: 18px;
}